In [1]:
import pandas as pd
import numpy as np
from scipy import spatial
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('DatasetK.csv')
df= df.dropna(how='any', axis=0)
df.reset_index(drop=True, inplace=True)
display(df)
df3 = df.copy()

,Name,Year of release,Number of Episode,Network,Duration/min,Content Rating,Rank,Rating,Genre_Action,Genre_Business,...,Air Day 1_Thursday,Air Day 1_Tuesday,Air Day 1_Wednesday,Air Day 2_Saturday,Air Day 2_Sunday,Air Day 2_Thursday,Air Day 2_Tuesday,Air Day 3_Wednesday,First Aired,Last Aired
0,Hospital Playlist,2020,12,tvN,90,1.0,2,9.1,0,0,...,1,0,0,0,0,0,0,0,12/03/20,28/05/20
1,Flower of Evil,2020,16,tvN,70,1.0,3,9.1,0,0,...,0,0,1,0,0,1,0,0,29/07/20,23/09/20
2,My Mister,2018,16,tvN,77,1.0,4,9.1,0,1,...,0,0,1,0,0,1,0,0,21/03/18,17/05/18
3,Prison Playbook,2017,16,tvN,92,1.0,5,9.1,0,0,...,0,0,1,0,0,1,0,0,22/11/17,18/01/18
4,It's Okay to Not Be Okay,2020,16,tvN,75,1.0,6,9.0,0,0,...,0,0,0,0,1,0,0,0,20/06/20,09/08/20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Thirty But Seventeen,2018,32,SBS,35,1.0,96,8.5,0,0,...,0,0,0,0,0,0,1,0,23/07/18,18/09/18
91,Vagabond,2019,16,SBS,70,1.0,97,8.5,1,0,...,0,0,0,1,0,0,0,0,20/09/19,23/11/19
92,Be Melodramatic,2019,16,jTBC,65,1.0,98,8.5,0,0,...,0,0,0,1,0,0,0,0,09/08/19,28/09/19
93,Mad for Each Other,2021,13,Daum Kakao TV,35,1.0,99,8.5,0,0,...,0,0,0,0,0,0,1,1,24/05/21,21/06/21
94,The Princess's Man,2011,24,KBS2,65,1.0,100,8.5,1,0,...,0,0,1,0,0,1,0,0,20/07/11,06/10/11

In [3]:
print(df.columns)

Index(['Name', 'Year of release', 'Number of Episode', 'Network',
       'Duration/min', 'Content Rating', 'Rank', 'Rating', 'Genre_Action',
       'Genre_Business',
       ...
       'Air Day 1_Thursday', 'Air Day 1_Tuesday', 'Air Day 1_Wednesday',
       'Air Day 2_Saturday', 'Air Day 2_Sunday', 'Air Day 2_Thursday',
       'Air Day 2_Tuesday', 'Air Day 3_Wednesday', 'First Aired',
       'Last Aired'],
      dtype='object', length=879)

In [4]:
df1 = df.drop(columns=['Year of release', 'Number of Episode', 'Duration/min', 'Rank', 'Network', 'Content Rating'], axis=1)
df1['Rating'] = df1['Rating']/10
display(df1)
#print (df.columndisplay(df['Number of Episode'])

,Name,Rating,Genre_Action,Genre_Business,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_Food,...,Air Day 1_Thursday,Air Day 1_Tuesday,Air Day 1_Wednesday,Air Day 2_Saturday,Air Day 2_Sunday,Air Day 2_Thursday,Air Day 2_Tuesday,Air Day 3_Wednesday,First Aired,Last Aired
0,Hospital Playlist,0.91,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,12/03/20,28/05/20
1,Flower of Evil,0.91,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,29/07/20,23/09/20
2,My Mister,0.91,0,1,0,0,1,1,0,0,...,0,0,1,0,0,1,0,0,21/03/18,17/05/18
3,Prison Playbook,0.91,0,0,1,0,1,0,0,0,...,0,0,1,0,0,1,0,0,22/11/17,18/01/18
4,It's Okay to Not Be Okay,0.90,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,20/06/20,09/08/20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Thirty But Seventeen,0.85,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,23/07/18,18/09/18
91,Vagabond,0.85,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,20/09/19,23/11/19
92,Be Melodramatic,0.85,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,09/08/19,28/09/19
93,Mad for Each Other,0.85,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,24/05/21,21/06/21
94,The Princess's Man,0.85,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,20/07/11,06/10/11

In [5]:
df1.describe()

,Rating,Genre_Action,Genre_Business,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_Food,Genre_Friendship,...,Air Day 1_Saturday,Air Day 1_Sunday,Air Day 1_Thursday,Air Day 1_Tuesday,Air Day 1_Wednesday,Air Day 2_Saturday,Air Day 2_Sunday,Air Day 2_Thursday,Air Day 2_Tuesday,Air Day 3_Wednesday
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,...,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,0.869579,0.189474,0.084211,0.442105,0.200000,0.715789,0.200000,0.168421,0.021053,0.189474,...,0.210526,0.010526,0.010526,0.010526,0.263158,0.231579,0.200000,0.263158,0.273684,0.010526
std,0.017254,0.393963,0.279177,0.499272,0.402122,0.453430,0.402122,0.376225,0.144321,0.393963,...,0.409845,0.102598,0.102598,0.102598,0.442683,0.424079,0.402122,0.442683,0.448214,0.102598
min,0.850000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.860000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.870000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.880000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,0.910000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df1 = df1.drop(columns=['First Aired','Last Aired','Air Day 1_Saturday','Air Day 1_Sunday','Air Day 1_Wednesday', 'Air Day 2_Saturday', 'Air Day 2_Sunday', 'Air Day 2_Thursday', 'Air Day 2_Tuesday', 'Air Day 3_Wednesday', 'Air Day 1_Friday',	'Air Day 1_Monday',	'Air Day 1_Thursday',	'Air Day 1_Tuesday'], axis=1)
display(df1)

,Name,Rating,Genre_Action,Genre_Business,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_Food,...,yoon__ji_hye,yoon_hyun_min,yoon_jong_hoon,yoon_joo_sang,yoon_kyun_sang,yoon_park,yoon_sang_hyun,yoon_se_ah,yoon_sun_woo,youn_yuh_jung
0,Hospital Playlist,0.91,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Flower of Evil,0.91,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,My Mister,0.91,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Prison Playbook,0.91,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,It's Okay to Not Be Okay,0.90,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Thirty But Seventeen,0.85,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
91,Vagabond,0.85,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,Be Melodramatic,0.85,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,Mad for Each Other,0.85,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,The Princess's Man,0.85,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
name = df1[['Name']]
name.head(10)

                       Name
0         Hospital Playlist
1            Flower of Evil
2                 My Mister
3           Prison Playbook
4  It's Okay to Not Be Okay
5                Reply 1988
6                    Signal
7                 Navillera
8                 Mr. Queen
9                    Mother

In [8]:
df2 = df1.drop(columns=['Name'],axis = 1)
display(df2)

,Rating,Genre_Action,Genre_Business,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_Food,Genre_Friendship,...,yoon__ji_hye,yoon_hyun_min,yoon_jong_hoon,yoon_joo_sang,yoon_kyun_sang,yoon_park,yoon_sang_hyun,yoon_se_ah,yoon_sun_woo,youn_yuh_jung
0,0.91,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0.91,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.91,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.91,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.90,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,0.85,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
91,0.85,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,0.85,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
93,0.85,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,0.85,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
def recm(name, n):
    idx = df1[df1['Name'] == name].index[0]
    dist = pd.DataFrame(data = df2.index)
    dist = dist[dist[0] != idx]
    dist['distance'] = dist[0].apply(lambda x: spatial.distance.euclidean(df2.loc[x],df2.loc[idx]))
    dist.sort_values(by='distance' , inplace= True)
    dist.drop(columns = [0],axis =1 , inplace=True)
    return dist.head(n)

In [10]:
name = "Hospital Playlist"
ch = 10
x = recm(name, ch)
display(x)

    distance
92  5.385499
35  5.477372
41  5.567908
44  5.656996
33  5.656996
3   5.744563
72  5.744780
58  5.744780
63  5.744780
27  5.831029

In [11]:
df4 = pd.merge(df3, x, left_index=True, right_index=True)
df4.sort_values(by='distance' , inplace= True)
df4.reset_index(drop=True, inplace=True)
df4 = df4[['Name', 'Year of release', 'Network', 'Rating']]
display(df4)

                     Name  Year of release Network  Rating
0         Be Melodramatic             2019    jTBC     8.5
1                 Misaeng             2014     tvN     8.7
2            Dr. Romantic             2016     SBS     8.7
3          Dr. Romantic 2             2020     SBS     8.7
4                    Live             2018     tvN     8.7
5         Prison Playbook             2017     tvN     9.1
6            Age of Youth             2016    jTBC     8.6
7  Partners for Justice 2             2019     MBC     8.6
8              Reply 1997             2012     tvN     8.6
9      Chicago Typewriter             2017     tvN     8.8